<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="header" class="header">
    <nav class="navigation-menu">
        <ul class="nav-list">
            <li><a th:href="@{/assortment}">Асортимент</a></li>
            <li><a th:href="@{/constructor}">Конструктор</a></li>

            <li class="logo"><a th:href="@{/}">Cake House</a></li>

            <li><a th:href="@{/ai-design}">ШІ Дизайн</a></li>

            <li class="icons">
                <a th:href="@{/cart}" id="openCartButton">
                    <img th:src="@{/img/cart-icon.svg}" alt="Кошик">
                </a>
            </li>

            <li class="icons">
                <a th:if="${#authorization.expression('isAnonymous()')}" th:href="@{/login-form}">
                    <img th:src="@{/img/user-icon.svg}" alt="Увійти в акаунт">
                </a>
                <a th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/profile}">
                    <img th:src="@{/img/user-icon.svg}" alt="Мій акаунт">
                </a>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>